streamlit==1.47.1
streamlit-chat==0.1.1
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.72
langchain-text-splitters==0.3.9
fastembed==0.7.1
chromadb==1.0.15
pypdf==5.9.0
langchain-ollama==0.3.6
langchain-openai==0.3.28
langchain-google-genai==2.1.8
langchain-groq==0.3.6
pysqlite3-binary
